{% extends "housing_app/base.html" %}

{% block tab_title %}
  {{ advertisement.title }}
{% endblock tab_title %}

{% block header %}
  {{ advertisement.title }}
{% endblock header %}

{% block content %}

  <div>
    <p>{{ advertisement.real_estate_type }}</p>

    <p>Location: {{ advertisement.location }}</p>
    <p>Contact number: {{ advertisement.contact_number }}</p>
    <p>Price: {{ advertisement.price }} UAH</p>
    <p>Area: {{ advertisement.area }} sq.m.</p>
    <p>
      Description: <br>
      {{ advertisement.description }}
    </p>
  </div>

{% endblock content %}